

.formuario {
    width: 100%;
    transform: translate(-50%, -50%);
    background: rgba(0,255,0,0.2);
    padding: 10px 20px;
    box-sizing: border-box;
    text-align: center;
    width: 100%;
    border-radius: 2%;
}


.formuario input{
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
    border: none;
}

.formuario boton{
    background: #1F618D;
    color: #fff;
    padding: 20px;
    cursor: pointer;
    
}

#boton:hover{
    cursor: pointer;
}







