@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* {
	box-sizing: border-box;
}
img {
	display: block;
	max-width: 100%
}

body {
    margin: 0;
    
	font-family: 'Open Sans', sans-serif;
}

h1, h2. h3, h4, h5, h6{
	font-family: 'Yanone Kaffeesatz', sans-serif;
	letter-spacing: 1.5px
}

/* Estilos del Header*/
.header .contenedor{
    display: flex;
    justify-content: space-between;
}

.logo, .icon-menu {
    margin: 5px;
    color: #fff;
}

.icon-menu{
    display:block;
    width: : 40px;
    height: 40px;
    font-size: 30px;
    background: #FBA919;
    text-align: center;
    line-height: 45px;
    border-radius: 5px;
}
/*Estilos del menu*/
.nav{
    position: absolute;
    top: 82px;
    left: 0%;
    width: 20%;
    transition: all 0.4s;
    
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu__link {
    display: block;
    padding: 20px;
    background: ;
    text-decoration: none;
    color: #fff;
}

.menu__link:hover, .select{
    background: white;
    color: black;
}



/*Estilos del Body*/


html, body{
    margin: 0;
    padding: 0%;
 
    width: 100%;
}
body{
    width: 100%;
    height: 100vh;
   /* background-color: #f09297bb ;*/
    background-color: #D37CBA ;
    background-position: left;
    background-repeat: no-repeat ;
    background-size: cover;
    display: table;
    font-family: 'Open Sans', sans-serif;
}

.navbar{
    position:  relative;
    top: 0;
    left: 0%;
    margin: 0;
    padding: 0%;
    width: 100%;
    height: 50%;
    border-bottom: 2px solid #ffff;

}

.navbar-light .navbar-nav .nav-link{
    color: #ffff;
}
.navbar-expand-sm .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
}


/*Estilos de info*/

.info__columna {
    background: #FBA919;
    color: #fff;
    padding: 15px;
    margin-bottom: 30px;
    
}
