html, body{
    margin: 0;
    padding: 0;
    width: 100%;
}
body{
    width: 100%;
    height: 100vh;
   /* background-color: #f09297bb ;*/
    background-color: #D37CBA ;
    background-position: center;
    background-repeat: no-repeat ;
    background-size: cover;
    display: table;
    font-family: 'Open Sans', sans-serif;
}


.navbar{
    position:  relative;
    top: 0;
    left: 0%;
    margin: 0;
    padding: 0%;
    width: 100%;
    height: 50%;
    border-bottom: 2px solid #ffff;

}
.bg-pink{
    
    background-color: #D37CBA;
    color:#c51174;
}
.navbar-pink{
    background-color: #f3e7e7;
}
.navbar-light .navbar-nav .nav-link{
    color: #ffff;
}
.navbar-expand-sm .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
}



.cuentas {
 position: relative;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    background: rgba(0,255,1,0.2);
    padding: 10px 20px;
    box-sizing: border-box;
    text-align: center;
    width: 100%;
    border-radius: 2%;
}
.cuentas h2{
    font-family:Trebuchet MS;
    color: #FFFF;
    /*font-size: 40px;*/
    font-weight: 100;
    font-weight: bold;
    margin-bottom: 8px;
}
.cuentas h3{
    font-family:Trebuchet MS;
    color: #FFFF;
    font-weight: 100;
    font-weight: bold;
    margin-bottom: 8px;
}
.cuentas p{
    color: #FFFF;
    font-size: 24px;
    font-weight: lighter;
}

.cuentas img{
    border-radius: 10px;
}
.btn-modify {
    color: #ffff;
    border-color: #ffff;
    background-color: #AFC8AF;
}

.formuario {
     position: relative;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    background: rgba(0,255,0,0.2);
    padding: 10px 20px;
    box-sizing: border-box;
    text-align: center;
    width: 100%;
    border-radius: 2%;
}


.formuario input{
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
    border: none;
}

.formuario boton{
    background: #1F618D;
    color: #fff;
    padding: 20px;
    cursor: pointer;
    
}

#boton:hover{
    cursor: pointer;
}
