*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

main{
     width: 100%;
    height: 100vh;
    position: absolute;
    background: #F9ACE2;
     background-position: center;
    background-repeat: no-repeat ;
    background-size: cover;
    display: table;
}

.menu__link {
    display: block;
    padding: 20px;
    background: ;
    text-decoration: none;
    color: #fff;
}

.menu__link:hover, .select{
    background: white;
    color: black;
}


header{
    width: 100%;
    height: 60px;
    position: fixed;
    left: 0;
    top: 0;
    background: #D37CBA;;
}

#check{
    display: none;
}

#check:checked ~ .menu{
    width: 400px;
}


.menu{
    position: fixed;
    top: 60px;
    width: 0px;
    height: 100vh;
     background: #366C36;
    transition: all 500ms cubic-bezier(1,0,0,1);
    transition-timing-function: cubic-bezier(1,0,0,1);
    
}
.menu a{
    color: white;
}

.menu li{
    list-style: none;
    padding: 16px;
    color: white;
    cursor: pointer;
    transition: all 300ms;
    display: block;
    width: 300px;
}

.menu li:hover{
    background: rgba(0,0,0,0.2);
}


.content-all{
    width: 100%;
    max-width: 1000px;
    background: rgba(0,255,0,0.2);
    margin: auto;
    margin-top: 80px;
    margin-left: 10px;
    
}

.content-all label{
    position: fixed;
    width: 100%;
    max-width: 1000px;
    top: 14px;
    font-size: 26px;
    color: white;
    cursor: pointer;
    z-index: 10;
}

.navbar-light .navbar-nav .nav-link{
    color: #ffff;
}
/*Estilos del menu*/
.nav{
    position: absolute;
    top: 82px;
    left: 0%;
    width: 20%;
    transition: all 0.4s;
    
}














